{% extends "main.html" %}
{% block page_name %}

<div>
    <h1>Founding Authors</h1>

    <br>

    <center>
        <h2>Kemar Jordan</h2>
        <div><img src="{{ author_1}}" alt="Kemar Jordan" style="border: 9px solid #6A7B19" width="200" height=auto></div>
        <a href = "https://www.linkedin.com/in/kemarjordan/">LinkedIn</a>
    </center>

    <br>


    <center>
        <h2>Danielle McIntosh</h2>
        <div><img src="{{ author_2}}" alt="Danielle McIntosh" style="border: 9px solid #6A7B19" width="200" height=auto></div>
        <a href = "https://www.linkedin.com/in/innovatordaniellemcintosh/">LinkedIn</a>
    </center>

    <br>

    
    <center>
        <h2>Kristofer Valerio</h2>
        <div><img src="{{ author_3}}" alt="Kristofer Valerio" style="border: 9px solid #6A7B19" width="200" height=auto></div>
        <a href = "https://www.linkedin.com/in/krisvalerio/">LinkedIn</a>
    </center>
</div>
{% endblock %}



