<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/main.css" />
</head>
<body>
    <center>

    {%if username%}

    <nav>   
        <a href="/">Home</a>
        <a href="/pages">Authors</a>  
        <a href="/about">About</a>  
        <span>|&emsp;<b>{{username}}</b>&emsp;|</span>
        <a href="/upload">Upload</a> 
        <a href="/logout">Logout</a> 
        <a href="/metadata">Visualize Metadata</a> 
    </nav>

    {%else%}
    
    <nav>   
        <a href="/">Home</a> 
        <a href="/about">About</a>  
        <a href="/signin">Login</a> 
        <a href="/signup">Sign Up</a>
    </nav>

    {%endif%}

<h1>The Python Wiki Server</h1>
<img src = "https://storage.googleapis.com/wiki-viewer-data/Python_Snake.png" alt = "Python Snake" width="150" height=auto>

{% block page_name %}

{% endblock %}

{% block content %}

{% endblock %}

</center>

</body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
</html>
